<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Using Instance Variable </title>
    </head>
    <body>
        <!-- Iterating using ruby syntax -->
        <% @users.each do |user| %>
        <p><%= user %> </p>
        <% end %>
    </body>
</html>
