<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> External Template </title>
    </head>
    <body>
        <h1> Worked!</h1>
        <p> This is the external ERB template</p>
    </body>
<html>
